h1{
    color: rgb(227, 146, 160);
    font-size: 55px;
    text-decoration: underline;
    text-align: center;

}
.page_prev_learners {
    text-align: center;
    text-transform: uppercase;
    border: solid 2px #ccc;
    background: #FFF;
    border-radius: 7px;
    max-width: 300px;
    
}