h1{
    color: rgb(227, 146, 160);
    font-size: 55px;
    text-decoration: underline;
    text-align: center;

}
.page_prev_learners {
    text-align: center;
    text-transform: uppercase;
    border: solid 2px #ccc;
    background: #FFF;
    border-radius: 7px;
    max-width: 300px;
    
}
.foot-menu {
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    padding: 2rem 0 1rem 0;
    font-size: 1.2rem;
}
div {
    display: block;
    unicode-bidi: isolate;
}
.foot_action {
    text-align: center;
    background:black;
    padding: 1rem;
    color: #bcbcbc;
}